<div class="container-fluid">
  <div class="row">
    <header>
      <%- locals.header %>
    </header>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nav>
        <%-  locals.nav %>
      </nav>
    </div>
    <div class="col-md-10">
      <main>
        <%-  locals.main %>
      </main>
    </div>
  </div>
</div>