<!DOCTYPE html>
<html>
  <head>
    <title>Handlebars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      뭘 생산해!
      {{title}}
      {{number}}
      <hr>
      {{#if number}}
        Hello Handlebars
      {{else}}
      ㅠ_ㅠ
      {{/if}}

      {{person}}
    </div>
  </body>
</html>
